{% extends Template('/user/base.html.twig') %}

{% trans_default_domain 'support.public' %}

{% block title %}
    {{ 'add.feedback'|trans }}
{% endblock %}

{% block content %}
    <h1>Свяжитесь с нами</h1>
    {{ include(_self|replace({ "template.html.twig" : baks_settings.device~"/content.html.twig" })) }}
{% endblock %}
